<ion-view title="关于我们">
    <ion-content>
    	<div class="about_top">
			<h4>欢迎来到</h4>
			<img class="icon" src="img/pic_about1.png">
			<span>www.ejufu.cn</span>
			<p>
			e聚富平台隶属于杭州泉水金融信息服务有限公司，由天天快递等 实力雄厚的大股东共同注资成立，注册资金2000万元，总部位于杭州。平台专注于产业垂直细分领域的互联网金融信息服务，依托互联网信息技术的进步和金融体系的创新，整合天天快递仓储物流、供应链金融，服务于线上有闲散资金但缺乏理财渠道的大众，使 得资金直接和小微企业的需求对接，让小微企业得到经营活动所需要的资金和更快捷灵活的服务，同时也为e聚富投资用户提供稳健、安全、可持续的理财产品，帮助用户实现财富增值。
			</p>
			<p>
			我们秉承“稳健、务实、可持续性”的企业精神，以“开放、创新、分享”的企业心态去面对不断变化的市场，致力于开创互联网金融信息服务新格局，打造出国内一流的、专业的、创新型互联网惠普金融平台，为社会大众提供优质的产品与服务，不断创造社会价值! 
			</p>
    	</div>
    	<div class="row">
			<div class="col text-center">
				<img style="width:60%;" src="img/icon_about1.png">
				<h5 class="cs6 margin0">公司理念</h5>
				<p class="cs9 margin0">稳健 开放<br>创新 分享</p>
			</div>
			<div class="col text-center">
				<img style="width:60%;" src="img/icon_about2.png">
				<h5 class="cs6 margin0">核心价值观</h5>
				<p class="cs9 margin0">为员工创造平台<br>为用户创造收益愿景</p>
			</div>
			<div class="col text-center">
				<img style="width:60%;" src="img/icon_about3.png">
				<h5 class="cs6 margin0">企业愿景</h5>
				<p class="cs9 margin0">成为产业垂直细<br>分领域的领导者</p>
			</div>
    	</div>
    	<div class="row">
    		<div class="col col-33 text-center">
				<img style="width:90%;" src="img/ceo.png">
    		</div>
    		<div class="col" style="padding-top: 75px;">
				<span style="font-size: 30px; color: #2c8bf5;">奚春阳</span>
				<span class="cs6">董事长</span>
    		</div>
    	</div>
    	<div class="ceo">
			
			<p>
				天快递”品牌创立至今已有二十余年。这二十余年来，“天天快递”一直持续稳健发展。 尤其在2012年收购重组后，更是开启了“天天新时代”，公司迅猛发展，日新月异，全体天天人，上下齐心，共同努力， 冲击跻身中国快递行业第一梯队。目前，天天快递服务客户30万余家，拥有网点9000余个，全国从业人员超过6万人。
			</p>
			<p>
				仓储物流行业在互联网时代的今天，获得了千载难逢的巨大发展机会，但同时也迫使我们自身不断地变革和创新。 在这样的背景下，公司投资了“e聚富”互联网金融平台。“e聚富” 结合本公司仓储物流服务本业，依托集团丰富的线下资源 ，汇集金融行业、贸易链金融领域有经验的创业者和管理者，立足于为广大投资人提供高质量的普惠金融服务。 这是集团向“互联网+”迈出的第一步。
			</p>
			<p>
			    公司的每一步发展离不开每位员工的辛勤付出，是你们的不断努力，赋予天天优秀的品质， 使得“天天快递”获得了大众的信赖与厚爱，并奠定公司未来长盛不衰的基石。为了给“天天人”营造更好的工作氛围， 创造更贴心实惠的天天福利，并充分体现集团旗下各平台的合作共赢，总部特别通过“e聚富”网站推出了为天天员工量身打造的“天天快递专区”。 我公司风控团队会全程参与项目筛选，严格把关，确保带给员工的高收益是安全无风险的。 我们希望通过这样的安排，让每一位员工切实感受到公司的诚意，享受到公司发展的红利。 今天 “e聚富”第一期天天专享理财福利正式推出，以此回报广大员工为公司付出的辛勤努力， 促进员工和企业的共同发展, 为“天天快递”创造更美
			</p>
    	</div>
    	<div class="contact">
    		<div class="contact_tit cs6">
				<img src="img/icon_about4.png">联系我们
    		</div>
    		<div class="contact_cen">
    			<div class="card_contact">
					<p>联系·泉水金服</p>
					<b>400-400-4000</b>
					<ul>
						<li>
							<i class="iocn ion-social-tux font-size20" style="vertical-align:middle;"></i>
							<a href="http://wpa.qq.com/msgrd?V=1&Uin=83585888Site=By%20Dvbbs&Menu=yes"> 83585888</a>
						</li>
						<li>
							<i class="iocn ion-android-mail font-size20" style="vertical-align:middle;"></i>
							<a href="mailto:xingep2p@163.com"> xingep2p@163.com</a>
						</li>
						<li>
							<i class="iocn ion-earth font-size20" style="vertical-align:middle;"></i>
							
							<a href="http://api.map.baidu.com/marker?location=120.184789,30.220735&title=浙江杭州市钱江路58号赞成大厦3幢6楼&content=赞成大厦3幢6楼&output=html"> 浙江杭州市钱江路58号赞成大厦3幢6楼</a>
						</li>
					</ul>
    			</div>
    		</div>
    	</div>
    </ion-content>
</ion-view>
