<ion-view title="在线反馈">
    <ion-content class="stable-bg">
        <form name="feedbackForm" novalidate>
            <div class="list assertive-border margin10" style="margin: 10px;">
                <div class="cs9" style="margin-bottom: 10px;">姓名</div>
                <label class="item item-input">
                    <input type="text" name="name" placeholder="请输入您的姓名" ng-model="data.name" required>
                </label>
                <div class="cs9" style="margin-top: 10px;">反馈内容</div>
                <div class="item item-input padding-right" style="margin-top: 10px;">
                    <textarea rows="8" cols="200" name="problemtext" ng-model="data.problemtext" required placeholder="请输入反馈内容">
</textarea>
                </div>
            </div>
            <div class="padding0 text-center" style="margin:0px 10px;">
                <button class="button button-block button-positive" ng-disabled="feedbackForm.$invalid" ng-click="feedbackbtn()">
                    提交
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
