<ion-view title="更多">
    <ion-content class="stable-bg">
    <img src="img/logo1.png" style=" display: block; margin: 20px auto;">
        <ul class="list prodetailpaymenu">
            <li class="item row" ui-sref="news">
                <div class="col cs3">公司动态</div>
                <div class="col col-20">
                <i style="vertical-align: middle; margin-left: 5px;" class="icon ion-ios-arrow-right font-size20"></i>
                </div>
            </li>
            <li class="item row" ui-sref="notice">
                <div class="col cs3">通知公告</div>
                <div class="col col-20">
                <i style="vertical-align: middle; margin-left: 5px;" class="icon ion-ios-arrow-right font-size20"></i>
                </div>
            </li>
            <li class="item row" ui-sref="aboutlist">
                <div class="col cs3">关于我们</div>
                <div class="col col-20">
                <i style="vertical-align: middle; margin-left: 5px;" class="icon ion-ios-arrow-right font-size20"></i>
                </div>
            </li>
            <li class="item row" ui-sref="feedback">
                <div class="col cs3">在线反馈</div>
                <div class="col col-20">
                <i style="vertical-align: middle; margin-left: 5px;" class="icon ion-ios-arrow-right font-size20"></i>
                </div>
            </li>
            <!-- <li class="item row" ui-sref="problems">
                <div class="col cs3">常见问题</div>
                <div class="col col-20">
                <i style="vertical-align: middle; margin-left: 5px;" class="icon ion-ios-arrow-right font-size20"></i>
                </div>
            </li> -->
            <li class="item row">
                <div class="col cs3">版本</div>
                <div class="col col-20">
                <span>V1.0.0</span>
                <i style="vertical-align: middle; margin-left: 5px;" class="icon ion-ios-arrow-right font-size20"></i>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>
