<ion-view title="更多">
    <ion-content class="stable-bg">
        <div class="list">
            <a class="item item-icon-left item-icon-right" style="padding-left:.4rem; border-top:none;" ui-sref="news">
                <i class="icon"><img src="img/icon_zjjl.png" width="20"></i>
                公司动态
                <i style="color:#dbdbdb;" class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" style="padding-left:.4rem;" ui-sref="notice">
                <i class="icon"><img src="img/icon_hkgl.png" width="20"></i>
                通知公告
                <i style="color:#dbdbdb;" class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" style="padding-left:.4rem;" ui-sref="aboutlist">
                <i class="icon"><img src="img/icon_bz.png" width="20"></i>
                关于我们
                <i style="color:#dbdbdb;" class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" style="padding-left:.4rem;" ui-sref="feedback">
                <i class="icon"><img src="img/icon_yqhy.png" width="20"></i>
                在线反馈
                <i style="color:#dbdbdb;" class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" style="padding-left:.4rem;" ui-sref="leaderboard">
                <i class="icon"><img src="img/icon_zskf.png" width="20"></i>
                英雄榜
                <i style="color:#dbdbdb;" class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
