<ion-view>
		<ion-nav-bar>
        <ion-nav-title side="center">
            <div class="borrowtop row padding0">
                <div ng-repeat="borrowstate in borrowstatelists" class="col padding0" ng-class="{true: 'dq', false: ''}[borrowstate.success]" ng-click="borrowstatefun($index)">{{borrowstate.name}}</div>
            </div>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="stable-bg" style="top:44px;">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
        </ion-refresher>
        <img ng-if="pointdetails.length == 0" style="width:200px;display:block; margin:30px auto;" src="img/noimg.png">
        <div class="list">
            <div class="item paymentbox" ng-repeat="financial in pointdetails">
                <h2>
	                <span ng-if="borrowstatelists[0].success" class="fr blue" style="padding-right: 10px;">投标中：{{financial.jinDu*100}}%</span>
	                <span ng-if="borrowstatelists[1].success" class="fr blue" style="padding-right: 10px;">还款中</span>
	                <span ng-if="borrowstatelists[2].success" class="fr blue" style="padding-right: 10px;">逾期中</span>
	                {{financial.borrowName}}
                </h2>
                <div class="row paymentrowtop" style="border-bottom: none;">
                	<div class="col">投资金额<br><span class="red font-size16">{{financial.amountInvested}}元</span></div>
                	<div class="col">待收金额<br><span class="red font-size16">{{financial.repayment_account}}元</span></div>
                	<div ng-if="borrowstatelists[0].success" class="col">投资时间<br><span>{{financial.addtime*1000 | date:"yyyy-MM-dd"}}</span></div>
                	<div ng-if="borrowstatelists[1].success || borrowstatelists[2].success" class="col">还款时间<br><span>2017-3-15</span></div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="!moredata" on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>
        <div ng-if="moredata && pointdetails.length > 0" style="color: #999;text-align: center;line-height: 40px;margin: 0 10px;border-bottom: 1px solid #dbdbdb;height: 0px;padding-bottom: 20px; margin-bottom: 30px;">
            <span style="padding:0px 10px; background:#f5f5f5;">我是有底线的</span>
        </div>
    </ion-content>
</ion-view>
