<ion-view view-title="充值">
    <ion-content class="stable-bg">
        <div class="list light-bg page_recharge">
            <div class="item item-input item-stacked-label">
                <span class="input-label"><i><img src="img/icon_recharge.png" alt=""></i>金额</span>
                <span class="recharge_jl" ng-click="rechargelist(1)">充值记录</span>
                <div class="row padding0">
                    <div class="col col-20">充值</div>
                    <div class="col"><input type="num" ng-model="data.amount" placeholder="请输入金额"></div>
                    <div class="col col-10"><i class="icon ion-ios-close-empty" ng-click="clearmoney()"></i></div>
                </div>
            </div>
        </div>
        <div class="padding-left padding-right">
            <button class="button button-block button-positive" ng-click="rechargebtn()">确定</button>
        </div>
    </ion-content>
    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-content>
            <form id="rechargeForm" action="https://jzh-test.fuiou.com/jzh/app/500001.action" method="post">
                <input type='hidden' name='mchnt_cd' value="{{submitdata.mchnt_cd}}"/>
                <input type='hidden' name='mchnt_txn_ssn' value="{{submitdata.mchnt_txn_ssn}}"/>
                <input type='hidden' name='login_id' value="{{submitdata.login_id}}"/>
                <input type='hidden' name='amt' value="{{submitdata.amt}}"/>
                <input type='hidden' name='page_notify_url' value="{{submitdata.page_notify_url}}"/>
                <input type='hidden' name='back_notify_url' value="{{submitdata.back_notify_url}}"/>
                <input type='hidden' name='signature' value="{{submitdata.signature}}"/>
            </form>
        </ion-content>
      </ion-modal-view>
    </script>
</ion-view>
